<ion-header>

  <ion-navbar color="primary">
    <ion-title>#{{pedido._id}}</ion-title>
    <ion-buttons end *ngIf="!pedido.enviado">
      <button ion-button icon-only (click)="onSendClicked(pedido)">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-icon name="person" item-start></ion-icon>
      Cliente
      <h2 class="cliente">{{pedido.cliente.razonSocial}}</h2>
    </ion-list-header>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-icon name="paper" item-start></ion-icon>
      Comentario
    </ion-list-header>
    <ion-item>
      <ion-input type="text" value={{pedido.comentario}} disabled></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-icon name="cart" item-start></ion-icon>
      Pedido
    </ion-list-header>
    <ion-row>
      <ion-col class="col-header" col-6 text-center>
        <p>Articulo</p>
      </ion-col>
      <ion-col class="col-header" col-3 text-center>
        <p>Cantidad</p>
      </ion-col>
      <ion-col class="col-header" col-3 text-center>
        <p>Precio</p>
      </ion-col>
    </ion-row>
    <ion-item-sliding *ngFor="let item of pedido.items; let i = index">
      <ion-item>
        <ion-row>
          <ion-col col-6>
            <p>{{item.articulo.descripcion}}</p>
          </ion-col>
          <ion-col col-3 text-right>
            <p>{{item.cantidad | number:'1.2-2'}}</p>
          </ion-col>
          <ion-col col-3 text-right>
            <p>{{item.precio | currency:'USD':true:'2.2-2'}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer padding text-right>
  <ion-label stacked>Total</ion-label>
  <h5>{{getTotal() | currency:'USD':true:'2.2-2'}}</h5>
</ion-footer>